[submodule "backend/vf-logger"]
	path = vf-logger
	url = git@github.com:ZeraGmbH/vf-logger.git
	branch = master
[submodule "backend/vf-script"]
	path = vf-script
	url = git@github.com:ZeraGmbH/vf-script.git
	branch = master
[submodule "middleware/utils/debugger"]
	path = middleware/utils/debugger
	url = git@github.com:ZeraGmbH/vf-debugger.git
	branch = master
[submodule "other/utils/vf-unittest2"]
	path = other/utils/vf-unittest2
	url = git@github.com:ZeraGmbH/vf-unittest2.git
	branch = master
[submodule "other/utils/vf-database-recorder"]
	path = other/utils/vf-database-recorder
	url = git@github.com:ZeraGmbH/vf-database-recorder.git
	branch = master
[submodule "other/utils/vf-database-replay"]
	path = other/utils/vf-database-replay
	url = git@github.com:ZeraGmbH/vf-database-replay.git
	branch = master
[submodule "middleware/utils/vf-crypto-bridge"]
	path = middleware/utils/vf-crypto-bridge
	url = git@github.com:ZeraGmbH/vf-crypto-bridge.git
	branch = master
[submodule "frontend/guis/vf-declarative-gui"]
	path = frontend/guis/vf-declarative-gui
	url = git@github.com:ZeraGmbH/vf-declarative-gui.git
	branch = master
[submodule "frontend/libs/vf-qmllibs"]
	path = frontend/libs/vf-qmllibs
	url = git@github.com:ZeraGmbH/vf-qmllibs.git
	branch = master
[submodule "middleware/api/vf-cpp"]
	path = middleware/api/vf-cpp
	url = git@github.com:ZeraGmbH/vf-cpp.git
	branch = master
[submodule "frontend/libs/vf-gui-translation"]
	path = frontend/libs/vf-gui-translation
	url = git@github.com:ZeraGmbH/vf-gui-translation.git
	branch = master
[submodule "backend/extern/PythonScriptingInterface"]
	path = backend/extern/PythonScriptingInterface
	url = git@github.com:ZeraGmbH/PythonScriptingInterface.git
	branch = master
[submodule "backend/processing/vf-export"]
	path = vf-export
	url = git@github.com:ZeraGmbH/vf-export.git
	branch = master
[submodule "backend/processing/vf-files"]
	path = vf-files
	url = git@github.com:ZeraGmbH/vf-files.git
	branch = master


[submodule "backend/applications/zera-resourcemanager"]
	path = backend/applications/zera-resourcemanager
	url = git@github.com:ZeraGmbH/zera-resourcemanager.git
	branch = master
[submodule "backend/libs/zera-classes"]
	path = backend/libs/zera-classes
	url = git@github.com:ZeraGmbH/zera-classes.git
	branch = master
[submodule "backend/libs/zera-scpi"]
	path = backend/libs/zera-scpi
	url = git@github.com:ZeraGmbH/zera-scpi.git
	branch = master

[submodule "backend/libs/qtiohelper"]
	path = backend/libs/qtiohelper
	url = git@github.com:ZeraGmbH/qtiohelper.git
	branch = master
[submodule "other/fontawesome-qml"]
	path = other/fontawesome-qml
	url = git@github.com:schnitzeltony/fontawesome-qml.git
	branch = master
[submodule "other/SortFilterProxyModel"]
	path = other/SortFilterProxyModel
	url = git@github.com:schnitzeltony/SortFilterProxyModel.git
	branch = master
[submodule "other/zera-json-helpers"]
	path = other/zera-json-helpers
	url = git@github.com:ZeraGmbH/zera-json-helpers.git
	branch = master
[submodule "other/simple-parser"]
	path = other/simple-parser
	url = git@github.com:ZeraGmbH/simple-parser.git
[submodule "backend/libs/bridgefmtspihelper"]
	path = backend/libs/bridgefmtspihelper
	url = git@github.com:ZeraGmbH/bridgefmtspihelper.git
[submodule "other/applications/zfpgatester"]
	path = other/applications/zfpgatester
	url = git@github.com:ZeraGmbH/zfpgatester.git
	branch = master
[submodule "backend/services/zenux-services"]
	path = backend/services/zenux-services
	url = git@github.com:ZeraGmbH/zenux-services.git
[submodule "middleware/vein-framework"]
	path = vein-framework
	url = git@github.com:ZeraGmbH/vein-framework.git
	branch = main
[submodule "other/utils/zera-resource-viewer"]
	path = other/utils/zera-resource-viewer
	url = git@github.com:ZeraGmbH/zera-resource-viewer.git
[submodule "backend/libs/zenux-core"]
	path = backend/libs/zenux-core
	url = git@github.com:ZeraGmbH/zenux-core.git
[submodule "backend/libs/zera-microcontroller"]
	path = backend/libs/zera-microcontroller
	url = git@github.com:ZeraGmbH/zera-microcontroller.git
